.Box{
	width: 100%;
	height: 400px;
	background-color: blue;
	color: red;
}
.Box1{
	width: 50%;
	height: 400px;
	background-color: greeen;
	color: yellow;
	float: left;
}
.Box2{
	width: 50%;
	height: 400px;
	background-color: brown;
	color: hotpink;
	float: left;
}